<div id="header">
    Product Add
    <button type="button" onclick="toAnotherPage('GET','list.php')" class="change">List of products</button>
</div>
<div id="main" onmouseover="trigger()">
    <form class="form" method="POST" action="Add.php" name="form1" id="subform">
        <div class="line">
            <label class="label">
                <span class="ftitle">SKU</span>
                <input type="text" id="sku" name="SKU" class="inp" placeholder="Stock-keeping unit"
                       title="Maximum length of SKU - 9 symbols" data-flag="1" data-type="SKU" data-correct="1">
            </label>
        </div>
        <div class="line">
            <label class="label">
                <span class="ftitle">Name</span>
                <input type="text" name="Name" class="inp" placeholder="Name of the product" data-flag="1"
                       data-type="Name" data-correct="1">
            </label>
        </div>
        <div class="line">
            <label class="label">
                <span class="ftitle">Price</span>
                <input type="text" name="Price" class="inp" placeholder="$" title="Please use only numbers"
                       data-flag="1" data-type="Number" data-correct="1">
            </label>
        </div>
        <div class="line">
            <label class="label">
                <span class="ftitle">Type switcher</span>
                <select id="typeswitch" name="typeswitcher" class="inp" onchange="changeFunc(value);">
                    <option value="none">Select type...</option>
                    <option value="DVD">DVD</option>
                    <option value="Book">Book</option>
                    <option value="Furniture">Furniture</option>
                </select>
            </label>
        </div>
        <div class="size">
            <label class="label">
                <span class="ftitle">Size</span>
                <input type="text" name="Size" class="inp" placeholder="MB" title="Please use only numbers"
                       data-flag="0" data-type="Number" data-correct="1">
            </label>
        </div>
        <div class="size" id="descript1">(Please provide size of the DVD)</div>
        <div class="weight">
            <label class="label">
                <span class="ftitle">Weight</span>
                <input type="text" name="Weight" class="inp" placeholder="kg" title="Please use only numbers"
                       data-flag="0" data-type="Float" data-correct="1">
            </label>
        </div>
        <div class="weight" id="descript2">(Please provide weight of the book)</div>
        <div class="dimensions">
            <label class="label">
                <span class="ftitle">Height</span>
                <input type="text" name="Height" class="inp" placeholder="cm" title="Please use only numbers"
                       data-flag="0" data-type="Number" data-correct="1">
            </label>
        </div>
        <div class="dimensions">
            <label class="label">
                <span class="ftitle">Width</span>
                <input type="text" name="Width" class="inp" placeholder="cm" title="Please use only numbers"
                       data-flag="0" data-type="Number" data-correct="1">
            </label>
        </div>
        <div class="dimensions">
            <label class="label">
                <span class="ftitle">Length</span>
                <input type="text" name="Length" class="inp" placeholder="cm" title="Please use only numbers"
                       data-flag="0" data-type="Number" data-correct="1">
            </label>
        </div>
        <div class="dimensions" id="descript3">(Please provide dimensions in HxWxL format)</div>
    </form>
    <div class="hbut">
        <button type="button" id="acbut" class="but" onclick="checkFields()">Save</button>
    </div>
</div>