
#setup {
    min-height: 100%;
}

#header {
    height: 100px;
    background-color: coral;
    font-weight: bold;
    text-align: left;
    font-size: 45px;
}

#main {
    min-height: 720px;
}


#lower {
    text-align: right;
    background-color: coral;
    min-height: 50px;
}

#deletebut {
    float: right;
    margin-top: 70px;
}

#deletesel {
    position: absolute;
    right: 230px;
    top: 71px;
}

#descript1 {
    padding-left: 180px;
}

#descript2 {
    padding-left: 170px;
}

#descript3 {
    padding-left: 135px;
}

.weight, .size, .dimensions {
    display: none;
    margin: 10px;
}

body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.form {
    max-width: 500px;
}

.line {
    margin: 10px;
}

.label {
    display: flex;
    align-itmes: center;
    flex-wrap: wrap;
}

.ftitle {
    margin: 5px 0;
    flex-basis: 100px;
}

.inp, .dinp, .binp, .finp {
    flex-grow: 1;
    flex-basis: 200px;
    border: 2px solid darkorange;
}

.hbut {
    text-align: left;
}

.but {
    width: 200px;
    margin-left: 290px;
    box-sizing: border-box;
    height: 22px;
    cursor: pointer;
    background: lightslategrey;
    color: black;
    border-width: 1px;
    border-color: black;
    text-transform: uppercase;
}

.row {
    position: relative;
    float: bottom;
}

.icon {
    margin: 8px;
    float: left;
    position: relative;
    text-align: center;
    width: 150px;
    height: 120px;
    border: 2px double black;
    background: lightskyblue;
    font-weight: bold;
    padding-top: 30px;
}

.cbox {
    position: absolute;
    top: 0;
    right: 0;
}

.change {
    float: bottom;
    margin-top: 70px;
    width: 200px;
    margin-left: 10px;
    box-sizing: border-box;
    height: 22px;
    cursor: pointer;
    background: lightslategrey;
    color: black;
    border-width: 1px;
    border-color: black;
    text-transform: uppercase;
}
